<h1>Web Applications landing page</h1>
<h2>This page provides evergreen content.</h2>
<h3>This page provides an entry point for web application activity.</h3>
<ul>
    <li>List available applications</li>
    <li>Provide information on using the application to consumers.</li>
    <li>Provide information on accessing the applications to members.</li>
    <li>Provide a link to accessing the backend part of the applications, the application will determine if the visitor has access.</li>
</ul>