<h1>ActiveRules Directory</h1>
<h2>Consumer Focused and Data Driven</h2>
<h3>This page provides an entry point for consumer discovery of people and businesses.</h3>
<p>This matches user criteria to defined attributes of businesses and people.</p>
<ul>
    <li>Browse People/Businesses using faceted-navigation</li>
</ul>