<h1>Shop landing page</h1>
<h2>This page provides evergreen content.</h2>
<h3>This page provides an entry point for consumer shop activity.</h3>
<ul>
    <li>Browse Shops by location-ratings-likes-age-category</li>
    <li>Search Shop pages using Google Search on backend</li>
</ul>