<div class="col-sm-4">
    <h2>Big Sidebar</h2>
    <p>Blah..</p>
    <h3>Big Sidebar</h3>
    <p>Blah..</p>
    <h3>Big Sidebar</h3>
    <p>Blah..</p>
    <h31>Big Sidebar</h3>
    <p>Blah..</p>
</div><!-- end span 4-->