<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Small sidebar ContentSmall sidebar ContentSmall sidebar ContentSmall sidebar ContentSmall sidebar ContentSmall sidebar Content</h1>
    </div>
    <div class="panel-body">Some content…</div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <a href="#" class="btn btn-primary">Join Now</a>
        </div>
    </div>
</div>
