<h1>Account landing page</h1>
<h2>Entry point to all member account activity and options</h2>
<ul>
    <li>Credential management</li>
    <li>Manage linked accounts</li>
    <li>Manage contact information</li>
    <li>Manage Image/Video/Files</li>
    <li>Billing Information and payment options</li>
    <li>Cancel the account</li>
</ul>
<p>We provide an EASY way to cancel so we get strong signals if people are unhappy.</p>