<div class="panel panel-default">
    <div class="panel-heading text-center">{{__ "page.home.content.shops.heading"}}</div>
    <div class="panel-body">{{__ "page.home.content.shops.body"}}</div>
</div>