<!-- Calendar application landing page -->
<!-- This page provides a way to access all "people" related tasks -->
<div class="row">

    <div class="col-md-8">
            <div class="row">
                <h1>Profiles</h1> 
            </div>
            <div class="row">
                {{> "content/body/video"}}
            </div>
            <div class="row">{{> "content/body/photo"}}</div>
            <div class="row">{{> "content/body/small"}}</div>
            <div class="row">{{> "content/body/medium"}}</div>
            <div class="row">{{> "content/body/annotated_video"}}</div>
    </div><!-- end span 4-->

    <div class="col-md-4">
        <div class="row">
        {{> "content/sidebar/small"}}
        </div>
        <div class="row">
        {{> "content/sidebar/video"}}
        </div>
        <div class="row">
        {{> "content/sidebar/large"}}
        </div>
        <div class="row">
        {{> "content/sidebar/medium"}}
        </div>


    </div><!-- end span 4-->

</div><!-- end row -->