<div class="jumbotron text-center">
    <h1>{{__ "page.home.h1"}}</h1>
    <h2>{{__ "page.home.h2"}}</h2>
    <h3>{{__ "page.home.h3"}}</h3>
</div>

<div class="row col-wrap equal">

    <div class="col-sm-4">
        {{> "content/home/tattoos"}} 
    </div><!-- end span 4-->

    <div class="col-sm-4">
        {{> "content/home/artists"}}
    </div><!--end span4-->

    <div class="col-sm-4">
        {{> "content/home/shops"}}
    </div><!-- end span 4-->

</div><!-- end row -->



