<!doctype html>
<html>
<head>
    <title>{{title}}</title>

    {{> head/metatags}}
    
    {{> head/opengraph}}
    
    {{> head/analytics}}

    {{> head/tabulouscss}}

    {{> head/ie8shim}}

</head>
<body>

    {{> nav/top/tabulous }}

    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div id="ar-content" class="col">
            {{{body}}}
            </div>
        </div>
    </div>

    {{> footer/tabulous}}
    
    {{> footer/basejs}}

</body>
</html> 