<h1>People landing page</h1>
<h2>This page provides evergreen content.</h2>
<h3>This page provides an entry point for consumer discovery of people and businesses.</h3>
<p>We focus on the "people" aspect vs. the "company" aspect because in the end what people are REALLY looking for is a person.</p>
<ul>
    <li>Browse People/Businesses by location-ratings-likes-age-category</li>
    <li>Search People/Business pages using Google Search on backend</li>
</ul>