<div class="row">
    <div class="col-md-4 text-center">
        {{__ "footer.contact"}}
    </div>
    <div class="col-md-4 text-center">
        {{__ "footer.legal"}}
    </div>
    <div class="col-md-4 text-center">
        {{__ "footer.social"}}
    </div>
</div>